<section class="form-border">
    <section class="form-box login-box centre-form">
        <h1>Login to start trading!</h1>
        <form action="/sessions" method="POST">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button class="inline-btn" type="submit">Login</button>
        </form>
        <%= error_message %>
    </section>
</section>