<section class="form-border wide">
    <section class="form-box centre-form">
        <h1>Marketplace</h1>
        <form id="char-search" action="/marketplace">
            <input class="inline-input" type="text" name="query" placeholder="Search by character name">
            <button class="inline-btn" type="submit">Go!</button>
            <a href="/marketplace"><button class="inline-btn" type="button">Clear</button></a> 
        </form>
    </section>
</section>

<section class="cards">
    <% results.each do |result| %>
        <a href="/listings/character/<%= result["id"] %>">
            <article class="card">
                <img src="<%= result["image_url"]%>" alt="">
                <aside>
                    <h3><%= result["name"] %></h3>
                </aside>
            </article>
        </a> 
    <% end %>
</section>
